.home--back{
  background: green;
  color: white;
  display: block;
  font-weight: lighter;
  padding: 1rem 0;
  position: relative;
  text-align: center;
  width: 100vw;
}

.cancha{
  width: 100vw;
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}