/* ·SETTINGS
  ========================================================================== */

$incluir__grid						     : true;
$incluir__grid--v-h            : false;


/**
 * Table of Contents:
 *
 *  1. Breakpoint - Grill
 *  2. Directorios
 *  3. Layout
 *  4. Fonts
 *  5. Tamaños
 *  6. Colors
 *  7. Typografy
 *  8. Nav
 *  9. Forms
 *  10. Botons
 *  11. Video
 *  12. Table
 *  13. Cards
 *  14. Modal
 *  15. Tabs
 *  16. Sliders
 */


/* 1. Breakpoint - Grill
   ========================================================================== */

$breakpoints: (
  xs: 300px,
  s: 520px,
  m: 768px,
  l: 1024px,
  xl: 1400px
);
$cols: 25 33 50 100;


/* 2. Directorios
   ========================================================================== */

$image-dir: "../images";
$font-dir : "../fonts";


/* 3. Layout
   ========================================================================== */

$baselineheight : 1.4;
$text-margin-btm: 0.5rem;
$pagemaxwidth 	: 1240px;
$radius 				: 2px;
$hovertransition: .3s;
$animationtime 	: .3s;
$animation			: all ease-out $animationtime;
$paddingpage 		: 1rem;
$shadow 				: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
$shadow-hover   : 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);

$index-0 : -1;
$index-1 : 2;
$index-2 : 10;
$index-3 : 999999;
$index-4 : 99999999;


/* 4. Fonts
   ========================================================================== */

$basefont	: 'Roboto','PT Sans Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$altfont 	: 'Roboto', 'Helvetica Neue',Georgia, Times, "Times New Roman";
$baseheadingfontweight: normal;


/* 5. Tamaños
   ========================================================================== */

$basefontsize : 16px;
$tittle-size :
  (h1, 1.5)
  (h2, 1.25)
  (h3, 1.1875)
  (h4, 1.125)
  (h5, 1.0625)
  (h6, 1);
$tittle-size-l :
  (h1, 3)
  (h2, 2.5)
  (h3, 1.9375)
  (h4, 1.5625)
  (h5, 1.25)
  (h6, 1);


/* 6. Colors
   ========================================================================== */

$color-base      	: #c87f3f;
$color-base-light	: lighten($color-base, 30%);
$color-secondary  : #058789;
$color-tertiary   : #FFC857;

// Web
$background				: rgb(100,100,100);
$bordercolor			:	white;
$selection-bgc		: $color-base-light;
$selection-color	: initial;

// opacidad
$opacity-1  : rgba(0,0,0,0.8);
$opacity-2  : rgba(0,0,0,0.6);
$opacity-3  : rgba(0,0,0,0.4);
$opacity-4  : rgba(0,0,0,0.2);

//estados
$color-error  	: rgb(218,79,73);
$color-info   	: rgb(66, 184, 221);
$color-success  : rgb(91,183,91);
$color-warning  : #ec971f;

//sociales
$fb					: rgb(59, 89, 182);
$tw 				: rgb(64,153,255);
$googleplus : rgb(221, 75, 57);
$pinterest 	: rgb(203, 32, 39);
$skype 			: rgb(18,165,244);
$spotify		: rgb(129,183,26);
$instagram	: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
$youtube		: #cd201f;
$linkedin		: #4875B4;
$mail				: #F99600;
$whatsapp   : #43d854;
$dropbox    : #3d9ae8;
$snapchat   : #fffc00;


/* 7. Typografy
   ========================================================================== */

$textcolor				: #494949; //#494949;
$textcolor-strong	: black;
$linkcolor        : $color-base;

